@font-face {
    font-family: 'Gunner' ;
    src: url(fontes/gunplay\ rg.otf) format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'cafe' ;
    src: url(fontes/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(fontes/Roboto-Regular.ttf);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    white-space: normal;
    text-align: center;
}

body{
    background-image: url("https://st.depositphotos.com/60135794/56957/i/450/depositphotos_569578448-stock-photo-red-grunge-texture-abstract-scary.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1{
    margin: 0px;
    background-color: #fcfcfc;
    text-align: center;
    border-radius: 10px;
    font-family: 'Gunner';
    padding: 3px;
    
}
h2{
    margin: 10px;
    background-color: #fcfcfc;
    text-align: center;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 2px 6px 4px;
    font-family: 'roboto';
}
p{
    margin: 15px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    border-radius: 14px;
    padding: 10px;
    font-family: 'cafe';
    text-align: justify;
    text-indent: 20px;
    

}
.z, li{
    margin: 15px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    border-radius: 14px;
    padding: 5px;
    text-align: center;
}
li{
    font-size: 20px;
}

.goleiros{
    text-align: center;
}
.zagueiros{
    text-align: center;
}
.defensores {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.defensores .laterais{
    position: relative;
    top: 20px;

}
.volantes{
    text-align: center;
}
.volantes img{
    margin: 30px;
}
.mat {
    text-align: center;
}
.atacantes {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.atacantes .PE,
.atacantes .PD {
    position: relative;
    top: -25px;
}
.atacantes .CA{
    position: relative;
    top: 15px;

}
.jogds {
    background-color: #033b03;
    background: linear-gradient(to bottom, #008000, #033b03);
    margin: 10px;
    padding: 18px;
    border-radius: 20px;
    background-image: url('https://i.pinimg.com/564x/48/e8/2c/48e82c1265defcabb9f3b01a8cda99cc.jpg');
    background-repeat: no-repeat;
    background-size:85%;
    background-position:center

}
.voltar{
    padding: 10px;
    border-radius: 15px;
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    box-shadow: 2px 4px 2px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;

}
.voltar:hover{
    background-color: #989998;
}
.mainP{
    display: flex;
    justify-content:space-around;
    margin: 10px;
    
}
.mainP img{
    height: 350px;
    margin-right: 20px;
    width: 570px;
} 
.jogadores {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jogadores img{
    max-height: 100px;
    height: 100px;
}
.jog {
    margin: 15px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 4px 6px;
    cursor: pointer;

}
.jog:hover{
    background-color: #989998;
}


.historia {
    text-align: center;
    display: flex;
    flex-direction: column;
    bottom: 20px;
}
.historia img{
    text-align: center;
    right: 50%;
}
.hist{
    margin: 15px;
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    font-size: 15px;
    font-weight: bolder;
    position: relative;
    right: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 0 4px 6px;
    cursor: pointer;
}
.hist:hover{
    background-color: #989998;
}
.berg img:hover{
    background-color: #989998;
}
.henry, .berg, .ian, .ozil, .alexis, .auba{
    display: flex;
    justify-content: space-around;
    font-family: serif;
    font-size: large;
    font: bolder;
    text-align: center;
    align-items: center;
    margin-top: 35px;
    
    
}
.henry img, .berg img, .ian img, .ozil img, .alexis img, .auba img{
    background-color: white;
    border: white;
    padding: 15px;
    border-radius: 15px;
}
.jogimport img{
    width: 500px;
    min-width: 499px;
    
}
.videoshit{
    text-align: center;
}
.inven{
    border: 1px solid white;
}